{{ $page := . }}
{{ $date := .Date }}
{{ if reflect.IsMap . }}
{{ $page = .Page }}
{{ $date = .Date }}
{{ end }}

<div class="media-card" data-title="{{ lower $page.Title }}" data-year="{{ $page.Params.year }}"
    data-type="{{ $page.Params.type }}">

    <div class="media-poster">
        <a href="{{ $page.Permalink }}">
            {{ $img := $page.Resources.GetMatch $page.Params.image }}
            {{ if $img }}
            {{ $img = $img.Resize "300x450 webp" }}
            <img src="{{ $img.RelPermalink }}" alt="{{ $page.Title }}" loading="lazy" width="{{ $img.Width }}"
                height="{{ $img.Height }}">
            {{ else }}
            {{ $imgStr := $page.Params.image | default "/images/default-poster.png" }}
            <img src="{{ $imgStr | absURL }}" alt="{{ $page.Title }}" loading="lazy">
            {{ end }}
        </a>

        {{ $icon := $page.Params.fa_icon }}

        {{/* Si no hay icono explícito, asignamos uno por defecto según el tipo */}}
        {{ if not $icon }}
        {{ if eq $page.Params.type "movie" }}
        {{ $icon = "fas fa-film" }}
        {{ else if eq $page.Params.type "tv" }}
        {{ $icon = "fas fa-tv" }}
        {{ else if eq $page.Params.type "season" }}
        {{ $icon = "fas fa-tv" }}
        {{ else if eq $page.Params.type "videogame" }}
        {{ $icon = "fas fa-gamepad" }}
        {{ end }}
        {{ end }}

        {{ if $icon }}
        <div class="badge-type {{ $page.Params.type }}" title="{{ $page.Params.type }}">
            <i class="{{ $icon }}"></i>
        </div>
        {{ end }}

        {{ if gt (len (strings.TrimSpace $page.Content)) 0 }}
        <div class="badge-content" title="Contiene reseña/notas personales">
            <i class="fas fa-file-alt"></i>
        </div>
        {{ end }}

        {{ if and (eq $page.Params.status "Acabado") $page.Params.rating }}

        {{ $ratingKey := string $page.Params.rating }}

        {{ $theme := index $page.Site.Data.ratings $ratingKey | default $page.Site.Data.ratings.default }}

        <div class="margin-rating" style="background: {{ $theme.color }};"></div>

        <div class="badge-rating" style="background: {{ $theme.color }}; color: {{ $theme.text_color | default " white"
            }}">
            <i class="{{ $theme.icon }}"></i>
        </div>

        {{ end }}
    </div>

    <div class="media-info">
        <h3><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></h3>
        <small>
            {{ if eq $page.Params.status "Acabado" }}
            {{ $configDateFormat := $page.Site.Params.dateFormat | default "2 Jan 2006" }}
            {{ if $date }}
            {{ time.Format $configDateFormat $date }}
            {{ else }}
            {{ time.Format $configDateFormat $page.Params.release_date }}
            {{ end }}
            {{ else }}
            {{ $page.Params.status | default "En curso" }}
            {{ end }}
        </small>
    </div>
</div>