<div class="media-card" data-title="{{ lower .Title }}" data-year="{{ .Params.year }}" data-type="{{ .Params.type }}">

    <div class="media-poster">
        <a href="{{ .Permalink }}">
            {{ $img := .Resources.GetMatch .Params.image }}
            {{ if $img }}
                {{ $img = $img.Resize "300x450 webp" }}
                <img src="{{ $img.RelPermalink }}" alt="{{ .Title }}" loading="lazy" width="{{ $img.Width }}" height="{{ $img.Height }}">
            {{ else }}
                {{ $imgStr := .Params.image | default "/images/default-poster.png" }}
                <img src="{{ $imgStr | absURL }}" alt="{{ .Title }}" loading="lazy">
            {{ end }}
        </a>

        {{ $icon := .Params.fa_icon }}

        {{/* Si no hay icono explícito, asignamos uno por defecto según el tipo */}}
        {{ if not $icon }}
        {{ if eq .Params.type "movie" }}
        {{ $icon = "fas fa-film" }}
        {{ else if eq .Params.type "tv" }}
        {{ $icon = "fas fa-tv" }}
        {{ else if eq .Params.type "season" }}
        {{ $icon = "fas fa-tv" }}
        {{ else if eq .Params.type "videogame" }}
        {{ $icon = "fas fa-gamepad" }}
        {{ end }}
        {{ end }}

        {{ if $icon }}
        <div class="badge-type {{ .Params.type }}" title="{{ .Params.type }}">
            <i class="{{ $icon }}"></i>
        </div>
        {{ end }}

        {{ if gt (len (strings.TrimSpace .Content)) 0 }}
        <div class="badge-content" title="Contiene reseña/notas personales">
            <i class="fas fa-file-alt"></i>
        </div>
        {{ end }}

        {{ if and (eq .Params.status "Acabado") .Params.rating }}

        {{ $ratingKey := string .Params.rating }}

        {{ $theme := index .Site.Data.ratings $ratingKey | default .Site.Data.ratings.default }}

        <div class="margin-rating" style="background: {{ $theme.color }};"></div>

        <div class="badge-rating" style="background: {{ $theme.color }}; color: {{ $theme.text_color | default " white" }}">
            <i class="{{ $theme.icon }}"></i>
        </div>

        {{ end }}
    </div>

    <div class="media-info">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <small>
            {{ if eq .Params.status "Acabado" }}
            {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
            {{ if .Date }}
            {{ time.Format $configDateFormat .Date }}
            {{ else }}
            {{ time.Format $configDateFormat .Params.release_date }}
            {{ end }}
            {{ else }}
            {{ .Params.status | default "En curso" }}
            {{ end }}
        </small>
    </div>
</div>